venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.env
.env.docker

.pytest_cache/
.mypy_cache/

*.log

node_modules/

Docker/postgres_data/
Docker/redis_data/

docs/

.coverage
htmlcov/

.DS_Store
